@font-face{
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
        url("../resources/RobotoFont/Roboto-Medium.ttf") format("truetype");
        font-weight: normal;
}

@font-face{
    font-family: "Roboto-Italic";
    src: local("Roboto-Italic"),
        url("../resources/RobotoFont/Roboto-Italic.ttf") format("truetype");
        font-weight: normal;
}

.video{   
    margin-bottom: auto;
    width: 100%;
    min-height: 100vh; 
}

.content{
    color: #ffffffde;
    font-size: 250%;
    text-align: center;
    font-family: Roboto-Medium; 
}

.container{
    position: relative;
    z-index:0;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.61);
    ;
    
}
.secodnContainer{
    
   margin-right:auto;
   margin-left:30%;
}

.buttons{
    padding-left: 40%;
    font-size: 125%;
    font-family: Roboto-Italic;
    margin-top: 5%;
}






